<%- include('partials/header') %>

    <div class="body">
        <div class="head" id="head">
            <!-- head text -->
            <div class="container font-600">
                <p class="white">I love to create <span class="blue">beautiful</span> and efficient <span
                        class="blue">websites</span>
                </p>
                <a href="#discover-main" class="white"><button class="discover white font-600">Discover</button></a>
                <a href="#contactus" class="contact font-600">Contact Me</a>
            </div>
        </div>
    </div>

    <!-- discover -->
    <div class="discover-main center-row" id="discover-main">
        <div class="discover-first font-600">
            <h1>Hi there I'm <span class="blue">Harsh</span>,</h1>
            <p>And I love to create beautiful and efficient websites for my customers. I love going through the entire
                process with the customer from concept, to design and then development and launch</p>
        </div>
        <div class="discover-about">
            <h3>Educational Details</h3>
            <h4><span class="blue">2022-2026</span></h4>
            <h4>B.Tech in Computer Science and Engineering</h4>
            <p>Bengal College of Engineering and Technology,Durgapur</p>
            <h4><span class="blue">2020-2021</span></h4>
            <h4>All India Senior School Certificate Examination(CBSE)</h4>
            <p>DAV Public School,Asansol</p>
        </div>
        <div class="discover-about">
            <h3>Experience</h3>
            <h4><span class="blue">2023 - present</span></h4>
            <h4>Co-Founder of <span><a href="https://unlockcode.tech" class="blue" target="_blank">Unlock
                        Code</a></span></h4>
            <p>Database Manager in Unlock Code</p>
            <h4><span class="blue">2023 - present</span></h4>
            <h4>Founder of <span><a href="https://onlinebank.glitch.me" class="blue" target="_blank">Online
                        Bank</a></span></h4>
            <p>Full Stack Web developer of Online Bank</p>
        </div>
    </div>

    <%- include('markee') %>
    <%- include('merchandise') %>
    <%- include('projects') %>

<%- include('partials/footer.ejs') %>